body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

input {
  margin: 10px 0;
  padding: 5px;
}

button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  margin-bottom: 20px;
}
